@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

body{
  font-family: 'Open Sans', sans-serif;
}

.fullscreen{
  min-height: 100vh;
}

#mainSegment{
  background: red;
}

#pictureSegment{
  background: green;
}

#mapSegment{
  background: blue;
}

.main.grid > .row > .column{
  padding: 0;
}

#mainGrid > .row{
  padding-bottom: 0;
}

#secondGrid > .row{
  padding: 0;
}
