@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'cwc';
    src: url('../fonts/cwc.otf');
}

body{
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to bottom, #ffffff, #dfe2e0);
  background-attachment: fixed;
}

.fullscreen{
  min-height: 100vh;
}

#pictureSegment{
  background-image: url('../images/bg2.jpg');
  /* background-image: url('../images/tiabanyu-min.jpg'); */
  background-size: cover;
  background-position: center;
}

#mapSegment{
  background: white;
}

.main.grid > .row > .column{
  padding: 0;
}

#mainGrid > .row{
  padding-bottom: 0;
}

#secondGrid > .row{
  padding: 0;
}

#countD, #countH, #countM, #countS{
  font-family: 'Staatliches';
  font-size: 28pt;
  opacity: 0.9;
  color: white;
}

#logoImage{
  width: 400px;
}

#qrImage{
  width: 100px;
}

.countDesc{
  font-family: 'Staatliches';
  font-size: 18pt;
  opacity: 0.6;
  margin-right: 10px;
  margin-left: 2px;
  color: white;
}

#content{
  padding-left: 10%;
  padding-right: 10%;
}

#content p{
  opacity: 0.8;
  margin-top: -10px;
}

#content h1{
  margin: 20px;
  margin-top: 15px;
  font-family: 'cwc', sans-serif;
  font-size: 36pt;
  opacity: 0.9;
  cursor: pointer;
}

#content h3{
  margin: 0px;
  margin-bottom: 30px;
  opacity: 0.8;
}

#content .desc{
  opacity: 0.5;
  font-size: 9pt;
  margin-top: 5px;
}

#decorImage{
  width: 75px;
}

@media only screen and (max-device-width: 600px) {
  #mainGrid > .row > .ten.wide.column{
    display: none;
  }

  #logoImage{
    width: 90%;
    margin-top: 50px;
  }

  #qrImage{
    width: 150px;
  }

  #content{
    padding-left: 5%;
    padding-right: 5%;
  }

  #content h3{
    font-size: 11pt;
  }

  .fullscreen{
    min-height: auto;
  }
}
